@media screen and (max-width:579px) {
    body{
        margin: 0 15px 0 15px;
    }
    .list-icon{
        display: flex;
    }
    .navbar-list{
        display: none;
    }
    .navbar{
        flex-direction: column;
    }
    #icon{
        display: block;
        color: aliceblue;
    }
    .card {
        flex-direction: column; 
        align-items: center; 
    }

    .img-container {
        position: static; 
        width: 100%; 
        height: 500px; 
        margin-bottom: 20px; 
    }

    .fst-cmmnt, .second-cmmnt {
        position: static; 
        margin: 10px 0; 
        width: 103px;
  height: 78px;
    }
    .fst-cmmnt{
        margin-left: 180px;
        margin-bottom: 200px;
    }
    

    .card-container {
        width: 100%;
        padding: 10px; 
        
    }
    .pic-card{
        grid-template-columns: repeat(1,1fr);
        margin-top: 10px;
        text-align: center;
        justify-items: center;
    }
    .run-container{
        flex-direction: column;
    }
    .run-img{
        width: 250px;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .chart-container{
        flex-direction: column;
      }
      .trainers-section {
        grid-template-columns: 1fr; 
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-brand,
    .footer-column {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-column h3 {
        font-size: 16px;
    }

    .footer p,
    .footer-column ul li a {
        font-size: 13px;
    }
}
